<div class="container">
  <div class="row">
    <div class="col-md-8 offset-2">
      <h1>Projektidee</h1>
      <p>Das Projekt Sputnik 2 ist ein Projekt, welches uns viel bedeutet. Es ist unser letztes Projekt, welches wir in der Super zeit im Basislehrjahr zusammen bewältigt werden. Die Idee ist es, dass wir ein sogenannten Wetterballon von Grund aus aufbauen und ihn dann steigen lassen. Während dem Flug sammeln mehrere verschiedene Sensoren Daten. Der Flug wird auch von Zwei Kameras aufgenommen und am Schluss zu einem Film zusammengeschnitten. Zusätzlich wird der Ballon per GPS die ganze Zeit über verfolgt. Das Ziel beim ganzen Projekt ist es, dass der Wetterballon in die Stratosphäre gelangt und wir ihm beim Landen wiederfinden per GPS-Signal. Zusätzlich sollen die gesammelten Daten ausgewertet, dokumentiert und auf der Webseite dargestellt werden.</p>
      <h1>Planung</h1>
      <p>Wir haben zu beginn des Projektes erstmal den Projektleiter bestimmt. Danach haben wir unser Projekt in folgende Drei Kategorien und dazugehörige Tasks aufgeteilt:</p>
      <ul>
        <li><b>Hardware Engineering (Colin, Leo)</b></li>
        <ul>
          <li>Sonde bauen</li>
          <li>Beschaffung von Bauteilen</li>
          <li>Sonde Innentemperatur testen</li>
          <li>Sonde Falltest durchführen</li>
        </ul>
      </ul>
      <ul>
        <li><b>Technology / Tracking (Dani, Noah, Nick)</b></li>
          <ul>
            <li>Hardware beschaffen</li>
            <li>Hardware testen</li>
            <li>Daten von Sensoren auf Video exportieren</li>
            <li>Scripting für Videoaufnahme</li>
            <li>GPS Tracking</li>
          </ul>
      </ul>
      <ul>
        <li><b>Marketing (Phillip, Dave, Sämi)</b></li>
        <ul>
          <li>Blog führen</li>
          <li>Webseite erstellen und betreuen</li>
          <li>Start abklären</li>
          <li>Landung berechnen</li>
          <li>Statistiken verwalten</li>
        </ul>
      </ul>
      <h1>Erfolg</h1>
      <p>
        Damit wir Erfolg haben, müssen wir zuerst alles gut und gründlich Planen. Wenn die Planung dann fertig ist, ist es auch wichtig, dass sich alle an die Planung halten. Es braucht auch volle Motivation von jeder einzelnen Person während dem ganzen Projekt
      </p>
      <h1>Projekt Mitglieder</h1>
      <ul>
        <li>Philip Baumann</li>
        <li>Leo Scherer</li>
        <li>Nick Durrer</li>
        <li>Colin Fuerst</li>
        <li>Samuel Sigrist</li>
        <li>Dániel Polgár</li>
        <li>Noah Ziltener</li>
        <li>David Lustenberger</li>
      </ul>
    </div>
  </div>
</div>
